In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

# ========== Data ==========

In [2]:
data = pd.read_csv("dataset (2-class).csv")

In [3]:
data

      x1    x2  y
0   -8.0   2.0  0
1   -9.0  -1.0  0
2  -10.0  -3.0  0
3   17.0 -11.0  1
4   20.0  18.0  1
..   ...   ... ..
95 -10.0   4.0  0
96  -9.0  -9.0  0
97  25.0   4.0  1
98  -5.0 -37.0  0
99 -21.0   4.0  0

[100 rows x 3 columns]

In [4]:
X = data[["x1", "x2"]]

In [5]:
y = data["y"]

# ========== Model ==========

## Setting Parameter

In [6]:
clf = LogisticRegression(penalty="none")

## Train Model

In [7]:
clf.fit(X, y)

LogisticRegression(penalty='none')

## Model's Weight & Bias

In [8]:
clf.intercept_

array([0.95196416])

In [9]:
clf.coef_

array([[0.32769763, 0.0646521 ]])

# ========== Prediction ==========

In [10]:
X = pd.read_csv("incoming_data (2-class).csv")

In [11]:
X

   x1  x2
0   0   5
1   5   0
2  -5   0
3   0  -5

In [12]:
clf.predict(X)

array([1, 1, 0, 1], dtype=int64)

In [13]:
clf.predict_proba(X)

array([[0.21836419, 0.78163581],
       [0.06975543, 0.93024457],
       [0.66519323, 0.33480677],
       [0.34780454, 0.65219546]])