In [1]:
import pickle

import numpy as np
import pandas as pd

In [2]:
saved_model = pickle.load(open("job_acceptance_model.pickle", "rb"))

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [3]:
clf = saved_model[0]
ordinal_encoder = saved_model[1]
one_hot_encoder = saved_model[2]
scaler = saved_model[3]
feature_name = saved_model[4]
numerical_feature = saved_model[5]
ordinal_feature = saved_model[6]
nominal_feature = saved_model[7]

In [4]:
feature_name

['age', 'experience', 'gpa', 'degree', 'position', 'expected_salary']

In [5]:
age = 35
experience = 10
gpa = 3.5
degree = "bachelor"
position = "engineer"
expected_salary = 100000

In [6]:
incoming_data = pd.DataFrame(
    np.array(
        [
            [
                age,
                experience,
                gpa,
                degree,
                position,
                expected_salary,
            ]
        ]
    ),
    columns=feature_name,
)

incoming_data

  age experience  gpa    degree  position expected_salary
0  35         10  3.5  bachelor  engineer          100000

### Ordinal Encoding

In [7]:
incoming_data[ordinal_feature] = ordinal_encoder.transform(
    incoming_data[ordinal_feature]
)

### One Hot Encoding

In [8]:
one_hot_feature = one_hot_encoder.categories_[0]

incoming_data[one_hot_feature] = one_hot_encoder.transform(
    incoming_data[nominal_feature]
)
incoming_data.drop(nominal_feature, axis=1, inplace=True)

In [9]:
incoming_data

  age experience  gpa  degree expected_salary  accountant  engineer  secretary
0  35         10  3.5     0.0          100000         0.0       1.0        0.0

### Feature Scaler

In [10]:
incoming_data_scaled = scaler.transform(incoming_data)

### Prediction

In [11]:
predicted_target = clf.predict(incoming_data_scaled)

In [12]:
predicted_target

array(['reject'], dtype='<U6')