In [1]:
import pickle

import numpy as np
import pandas as pd

In [2]:
saved_model = pickle.load(open("salary_model.pickle", "rb"))

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [3]:
reg = saved_model[0]
ordinal_encoder = saved_model[1]
one_hot_encoder = saved_model[2]
feature_name = saved_model[3]
numerical_feature = saved_model[4]
ordinal_feature = saved_model[5]
nominal_feature = saved_model[6]

In [4]:
feature_name

['age', 'experience', 'gpa', 'degree', 'position']

In [5]:
age = 25
experience = 2
gpa = 3.5
degree = "bachelor"
position = "engineer"

In [6]:
incoming_data = pd.DataFrame(
    np.array([[age, experience, gpa, degree, position]]),
    columns=feature_name,
)

incoming_data

  age experience  gpa    degree  position
0  25          2  3.5  bachelor  engineer

In [7]:
print("numerical_feature :", numerical_feature)
print("ordinal_feature :", ordinal_feature)
print("nominal_feature :", nominal_feature)

numerical_feature : ['age', 'experience', 'gpa']
ordinal_feature : ['degree']
nominal_feature : ['position']

### Ordinal Encoding

In [8]:
incoming_data[ordinal_feature] = ordinal_encoder.transform(
    incoming_data[ordinal_feature]
)

### One Hot Encoding

In [9]:
one_hot_feature = one_hot_encoder.categories_[0]

incoming_data[one_hot_feature] = one_hot_encoder.transform(
    incoming_data[nominal_feature]
)
incoming_data.drop(nominal_feature, axis=1, inplace=True)

In [10]:
incoming_data

  age experience  gpa  degree  accountant  engineer  secretary
0  25          2  3.5     0.0         0.0       1.0        0.0

### Prediction

In [11]:
predicted_target = reg.predict(incoming_data)

In [12]:
predicted_target

array([276529.09059145])