In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

np.random.seed(12345)

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

# ========== Data ==========

In [2]:
data = pd.read_csv("dataset.csv")

In [3]:
data

      x1    x2      y
0   15.0  15.0  416.0
1  -16.0   6.0  239.0
2  -13.0  19.0  368.0
3   12.0  -4.0  223.0
4   15.0  -7.0  200.0
..   ...   ...    ...
95  -6.0  -9.0  125.0
96   4.0 -15.0   95.0
97  -2.0   0.0  225.0
98  11.0 -11.0  154.0
99  11.0  -9.0  171.0

[100 rows x 3 columns]

In [4]:
X_train = data[["x1", "x2"]]

In [5]:
y_train = data["y"]

# ========== Model ==========

## Setting Parameter

In [6]:
reg = LinearRegression()

## Train Model

In [7]:
reg.fit(X_train, y_train)

LinearRegression()

## Model's Weight & Bias

In [8]:
reg.intercept_

225.71968043471702

In [9]:
reg.coef_

array([2.97022435, 9.600274  ])

# ========== Prediction ==========

In [10]:
X_test = pd.read_csv("incoming_data.csv")

In [11]:
X_test

   x1  x2
0  10  10
1  10   0
2 -10  10
3 -10   0

In [12]:
reg.predict(X_test)

array([351.42466387, 255.4219239 , 292.02017694, 196.01743697])